.pager-disabled {
    cursor: not-allowed;
    color: #ebebe4 !important;
}

.pager-arrow-disabled {
    cursor: not-allowed;
    color: #ebebe4 !important;
}

.webodvextractor_page {
    min-height:680px;
}

.filter-option-inner-inner {
    text-align:center;
}

@media (min-width: 768px) {
  .modal-xl {
    width: 90%;
   max-width:1200px;
  }
}

.loading_snippet {
/* position:relative; */
/* left:0; */
/* right:0; */
/* margin-left:auto; */
/* width:300px; */
/* margin-right:auto; */
/* z-index:5; */


margin: auto;
position: absolute;
top: 50px; left: 50px;
width:300px;
height:60px;
bottom: 50px; right: 50px;
z-index:5;

text-align: center;
border: 3px solid rgb(170, 170, 170);
background-color:white;
color: #00000;

}
